* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6, span, li, div {
  cursor: default;
}

ul, ol {
  list-style: none;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(../fonts/Nunito/Nunito-Regular.ttf) format("ttf"), url(../fonts/Nunito/Nunito-Regular.woff) format("woff"), url(../fonts/Nunito/Nunito-Regular.woff2) format("woff2"), url(../fonts/Nunito/Nunito-Regular.eot) format("eot");
}
body {
  font-family: "Nunito", sans-serif;
  color: #1B1A1A;
}

.container {
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #D3CBC5;
  height: 80px;
}
header .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
header .header .navbar-content {
  display: flex;
  gap: 30px;
  font-size: 16px;
}
header .header .navbar-content-item:hover {
  border-bottom: 1px solid #1B1A1A;
  margin-bottom: -1px;
}
header .header .navbar-content-item > a {
  color: #1B1A1A;
}
header .header-activites {
  display: flex;
  gap: 20px;
}
header .header-activites .cart-btn, header .header-activites .search {
  background-color: transparent;
}
header .header-activites .cart {
  position: relative;
}
header .header-activites .cart-count {
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #781414;
  color: #fff;
  font-size: 6px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

main {
  width: 100%;
}
main .main-content {
  background-image: url("/src/assets/img/main-content-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 820px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main .main-content .container {
  padding: 20px;
  position: relative;
  margin-right: 50px;
}
main .main-content .container p {
  font-size: 18px;
  color: #2C314B;
  margin-bottom: 7px;
}
main .main-content .container h2 {
  max-width: 360px;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 15px;
}
main .main-content .container::before {
  content: " ";
  width: 292px;
  border-bottom: 1px solid #6B6C71;
  position: absolute;
  top: 0;
  left: -25px;
}
main .main-content .container::after {
  content: " ";
  height: 230px;
  border-left: 1px solid #6B6C71;
  position: absolute;
  top: -25px;
  left: 0;
}
main .main-content #main-content-price {
  font-size: 16px;
  color: #121211;
  margin-bottom: 20px;
}
main .main-content #main-content-price span {
  color: #999;
  font-size: 14px;
}
main .main-content-btn {
  padding: 7px 17px;
  text-transform: uppercase;
  border: 1px solid #000;
  background-color: transparent;
  position: relative;
}
main .main-content-btn::before {
  content: " ";
  width: 10px;
  height: 10px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  top: -10px;
  left: -10px;
}
main .main-content-btn::after {
  content: " ";
  width: 10px;
  height: 10px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
main .main-content-btn:hover {
  background-color: #1C1B1B;
  color: #fff;
}
main .slider {
  margin: 50px 0;
  position: relative;
}
main .slider .swiper {
  max-height: 100%;
  width: 1115px;
  margin: 0 auto;
}
main .slider .swiper-slide {
  box-sizing: border-box;
  height: 450px;
  background-color: #E5E6E6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 50px 50px 20px 30px;
}
main .slider .swiper-slide > h2 {
  font-size: 30px;
  line-height: 40px;
  height: 80px;
  color: #282828;
}
main .slider .swiper-slide > button {
  width: 50%;
}
main .slider .swiper-slide-img-wrap {
  align-self: center;
  height: 60%;
}
main .slider .swiper-slide-img-wrap > img {
  width: 100%;
  height: 100%;
}
main .slider-button-prev, main .slider-button-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
main .slider-button-prev {
  left: 2%;
}
main .slider-button-next {
  right: 2%;
}/*# sourceMappingURL=index.css.map */