@import 'variable.scss';
@import 'mixins.scss';
main{
    width: 100%;
    .main-content{
        background-image: url('/src/assets/img/main-content-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 820px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
         .container{
            padding: 20px;
            position: relative;
            margin-right: 50px;
            p {
                font-size: 18px;
                color: #2C314B;
                margin-bottom: 7px;
            }
            h2{
                max-width: 360px;
                font-size: 50px;
                line-height: 60px;
                margin-bottom: 15px;
            }
            &::before{
                content: ' ';
                width: 292px;
                border-bottom: 1px solid #6B6C71;
                position: absolute;
                top: 0;
                left: -25px;
            }
            &::after{
                content: ' ';
                height: 230px;
                border-left: 1px solid #6B6C71;
                position: absolute;
                top: -25px;
                left: 0;
            }
         }
         #main-content-price{
            font-size: 16px;
            color: #121211;
            span{
                color: $secondaryTextColor;
                font-size: 14px;
            }
            margin-bottom: 20px;
         } 
         &-btn{
            @include mainButton();
         } 
    }
    .slider {
        margin: 50px 0;
        position: relative;
            .swiper{
                max-height: 100%;
                width: 1115px;
                margin: 0 auto;
                &-slide{
                    box-sizing: border-box;
                    height: 450px;
                    background-color: #E5E6E6;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 30px;
                    padding: 50px 50px 20px 30px;
                    >h2{
                        font-size: 30px;
                        line-height: 40px;
                        height: 80px;
                        color: #282828;
                    }
                    >button{
                        width: 50%;
                    }
                    &-img-wrap{
                        align-self: center;
                        height: 60%;
                        >img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        &-button-prev, &-button-next {
            position: absolute;
            top: 50%;
            cursor: pointer;
        }
        &-button-prev{
            left: 2%;
        }
        &-button-next{
            right: 2%;
        }
    }
}