@import 'variable.scss';
// Флексы
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// Центрирование флексами
@mixin flexCenter(){
  @include flexbox();
  justify-content: center;
  align-items: center;
}

@mixin mainButton() {
  padding: 7px 17px;
  text-transform: uppercase;
  border: 1px solid #000;
  background-color: transparent;
  position: relative;
  &::before{
    content: ' ';
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: absolute;
    top: -10px;
    left: -10px;
  }
  &::after{
    content: ' ';
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    position: absolute;
    bottom: -10px;
    right: -10px;
  }
  &:hover{
    background-color: #1C1B1B;
    color: #fff;
  }
}
